.mm-title {
  text-transform: uppercase;
  animation: letter-spacing 1s forwards, fade-in 1s forwards;

  

  @media (min-width: 600px) {
    
    font-size: 30px;

    &__profession {
      text-align: right;
    }
    
  }

  @media (max-width: 600px) {
    text-align: center;
  }
}