.mm-title-v1 {
  text-transform: uppercase;
  animation: letter-spacing 1s forwards, fade-in 1s forwards;

  @media (min-width: 600px) {
    
    font-size: 30px;

    &__profession {
      text-align: right;
    }
    
  }

  @media (max-width: 600px) {
    text-align: center;
  }
}

.mm-title-v2 {
  // height: 100vh;
  display: flex;
  font-family: 'Archivo Black', sans-serif;
  font-size: 48px;
  // animation: letter-spacing 1s forwards, fade-in 1s forwards;

  &__name, &__profession {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  &__name {
    color: #fff;
    background-color: #485696;
    text-align: right;
    

    h1 {
      // transform: translateX(2000px);
      animation: slideFromRight 1s forwards;
    }
    
  }

  &__profession {
    color: #000;
    background-color: #F9C784;

    h1 {
      // transform: translateX(-2000px);
      animation: slideFromLeft 2s forwards;
      // animation-delay: 1s;
    }
    
  }

}