.mm-section {
  display: flex;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  animation: fade-in 1s forwards;

  &__inner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
}
