.App {
  font-family: 'Work Sans', sans-serif;
  scroll-behavior:unset;
}

/* .mm-animated-title {
  text-transform: uppercase;
  animation: letter-spacing 1s forwards;
} */

/* carousel */
.mm-carousel {
  margin-top: 20px;
}
.mm-carousel-image {
  margin-bottom: 40px;
}

.mm-carousel-image img {
  width: 100%;
}

/* .mm-content-slide__image, .mm-content-slide__description {
  height: 240px;
  width: 45%;
  background-color: #fff;
} */


/* animations */
@keyframes grow-horizontal {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes letter-spacing {
  0% {
    letter-spacing: inherit;
  }

  100% {
    letter-spacing: 8px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@@keyframes slideInFromBottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
