/* font-family: 'Archivo Black', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Tilt Warp', cursive; */
html {
  scroll-behavior:smooth;
}
.App {
  scroll-behavior:smooth;
}

.App .mm-section {
  /* height: 100vh; */
  margin-bottom: 80px;
  overflow-y: hidden;
}

/* carousel */
.mm-carousel {
  margin-top: 20px;
}
.mm-carousel-image {
  margin-bottom: 40px;
}

.mm-carousel-image img {
  width: 100%;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

/* animations */
@keyframes grow-horizontal {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes letter-spacing {
  0% {
    letter-spacing: inherit;
  }

  100% {
    letter-spacing: 8px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(2000px);
  }

  100% {
    letter-spacing: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    letter-spacing: translateX(0);
  }
}


