.mm-nav {
  position: fixed;
  width: 100%;
}

.mm-nav__inner {
  background: linear-gradient(225deg, black 6ch, rgba(0,0,0,0) 6.05ch);
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-align: right;
  height: 130px;
  padding: 16px;
}
